*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}
.main{
    background-image: url('assets/images/image1.jpg');
    height: 70vh;
    position: relative;
    background-position: center center;
    /* background-repeat: no-repeat; */
    background-size: max(1200px 100vw);
}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.68;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    max-width: 80vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 16px;
}

nav img{
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}

.hero{
    height: calc(100%-100px);
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 23px;
    text-align: center;

    font-family: 'Martel Sans' ,sans-serif;
}

.hero> :nth-child(1){
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation{
    height: 5px;
    background-color: rgba(90, 89, 89, 0.467);
}

.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(240, 240, 240, 0.134);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 4px 24px;
    font-size: 20px;
    border-radius: 4px;
}
.btn-red-sn{
    background-color: red;
    color: white;

}

.main input{
    background-color: rgba(23, 23, 23, 0.2);
    padding: 8px 105px 9px 9px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 400;
    color: white;
    border: 1px solid rgba(235, 227, 227, 0.5);


}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}

@media screen and (max-width: 1300px) {
    .first{
        flex-wrap: wrap;
    }
}

.secImg{
    position: relative;
}

.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video{
    position: absolute;
    top: 99px;
    right: 0;
    width: 480px;
}



section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first > div :first-child{
    font-size: 48px;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    font-size: 24px;
   
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}
.faqbox{
    display: flex;
    background-color: rgba(128, 128, 128, 0.295);
    padding: 24px;
    max-width: 60vw;
    margin: 20px auto;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.faq h2{
    text-align: center;
    font-size: 48px;
}

div svg{
    color: white;
}

.faqbox:hover{
    background-color: #414141;
    
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}


.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

footer .Questions{
    padding: 24px 0;
}

@media screen and (max-width: 1300px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 90vw;
    }

    .footer-item{
        margin: 13px;
        align-items: center;
    }
}

@media screen and (max-width: 1300px){
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }

    .secImg img{
        width: 355px;
    }

    .secImg video{
        width: 310px;
        top: 89px;
        right: 0;
    }

    .hero> :nth-child(1){
        font-size: 32px;
    }
    .hero> :nth-child(2){
        font-size: 18px;
    }
    .hero> :nth-child(3){
        font-size: 18px;
    }

    .hero-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-direction: column;
    }

    .faq h2{
        font-size: 32px;
    }
}